<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= f.input :organization, class:"form-control", label: "Organization name *", required: false %>
      <p class="text-center">You cannot change your organization name later.</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= f.input :name, class:"form-control", label: "Team name *", required: false %>
      <p class="text-center">You cannot change your team name later.</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= f.input :currency_id, include_blank:false, class:"form-control", id: "currency", label: "Currency Extension", required: false, collection:Currency.all, label_method: lambda { |obj| t("#{obj.country}") } %>
      <p class="text-center">This is not for the payment. You can change the currency extension later in 'Team Settings'</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <%= f.input :plan_id, :as => :hidden %>
    <%= f.input :paypal_customer_token, :as => :hidden %>
    <%= f.input :paypal_payment_token, :as => :hidden %>
    <!-- <div class="col-md-offset-3 col-md-6"> -->
      <%#= f.input :plan_id, class:"form-control", label: "Plan", required: false, collection:Plan.all, include_blank:false %>
      <!-- <p class="text-center">For now, we just have a single plan with a limit of <strong>10 users</strong>. Contact us at <strong>support@alphadeal.co</strong> if you are looking for premium plans.</p> -->
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= f.submit 'Create Team', class:"btn" %>
    </div>
  </div>
<% end %>