
<div class="row">

  <div class="col-md-4 col-md-offset-4">
<%=link_to(image_tag("logo_alt_alt.png",class: "logo-centered"), root_path) %>
    <div class="panel panel-default sign">
   
      <h2 class="sign-title">Sign Up for AlphaDeal</h2>
      <h3 class="sign-title-h3"> $7 per month, unlimited users - the cheapest deals management solution by far!</h3>

      <div class="panel-body">
            
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true, :placeholder => "Email", label: false %>
    <%= f.input :password, :required => true, :placeholder => "Password", label: false %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "cta2 fw" %>
  </div>
<% end %>
<div class="shared_links_cta">
<%= render "devise/shared/links" %>
</div>
            </div>
          </div>
        </div>

      </div>