<div class="panel panel-primary">

  <div class="panel-heading">
     <div class="row" style="margin-left:15px; margin-right:15px; margin-top:12px">
      <div class="col-md-3">
        <h4>Deals Dashboard</h4>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(@team) do |f| %>
          <div class="form-group select optional team_currency_id">
            <p class="help-block">Change currency</p>
            <div class="input-group input-group-md">
                <div class="icon-addon addon-md">
                    <select class="select optional form-control" name="team[currency_id]" id="team_currency_id">
                      <% Currency.all.each do |cur| %>
                        <option value="<%= cur.id %>" <%= "selected" if cur.id == @team.currency_id %>><%= cur.country %></option>
                      <% end %> 
                    </select>
                </div>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit">Go</button>
                </span>
            </div>
          </div>
        <% end %>
      </div>
     </div>
  </div>

  <div class="panel-body deals-body min-htw">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <a href="#" class="btn btn-gold"  data-toggle="modal" data-target="#dealModal">
            Add A Deal +
          </a>
          <%= link_to "Switch to All Deals view", team_deals_path(view_mode: "all"), class: "btn btn-primary" %>
             <br/> <br/>
        </div>
        <br/>
    </div>

    <div class="scroll-body" id="<%= @team.friendly_id %>">

      <% @team.stages.all.each do |stage| %>

        <div id="<%= stage.id %>" class="scroll-column droppable">

          <h4 class="label-p stage-title"><p style="font-weight: 200; text-align:center; font-size:15px; padding-top:5px; padding-bottom:5px; color: #3b5998;font-family: "Noto Sans", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;"><%= stage.name %> (Total: <%= Currency.find(@team.currency_id).extension %> <%= number_with_delimiter(show_visible_unarchived_deals(stage).flat_map(&:value).reduce(:+)) || 0%> ) </p></h4>

          <% show_visible_unarchived_deals(stage).each do |deal| %>

            <div id="<%= deal.id %>" class="tile-stats tile-<%= "#{dealcolor(deal.status, deal.archived)}" %> draggable notransition" data-stage-id="<%= deal.stage_id %>">
              <div class="num">
                <%= link_to deal.title, team_deal_path(@team, deal)%>
                <%= link_to (raw('<i class="entypo-erase"></i>')), team_deal_path(@team, deal), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right' %>
                <%= link_to (raw("<i class='entypo-pencil'></i>")), edit_team_deal_path(@team, deal), class: 'deal-btn'%>
              </div>
              <h5 class="number"></h5>
              <h5 class="number" ><%= time_ago_in_words(deal.created_at) %> ago</h5>
              <h5 class="number"><%= number_with_delimiter(deal.value) %> <%= Currency.find(@team.currency_id).extension %></h5>
              <h5 class="number"><%= deal.organization.name if deal.organization %></h5>
              <h5 class="number deal-btn-stack">
                <%= link_to (raw("<i class='entypo-folder'></i>Archive")), team_deal_archive_path(@team, deal), class: 'deal-btn'%>

                <% if deal.status == 'Won' %>

                <% elsif deal.status == 'Lost' %>
                 <% elsif deal.status == 'Pending' %>
                  <%= link_to (raw("<i class='entypo-thumbs-up'></i>Won")), team_deal_status_path(@team, deal, status: "Won"), class: 'deal-btn' %>
                  <%= link_to (raw("<i class='entypo-thumbs-down'></i>Lost")), team_deal_status_path(@team, deal, status: "Lost"), class: 'deal-btn' %>
                <% end %>
              </h5>
            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  </div>

</div>
<% content_for :modal do %>
  <%= render 'deals/form' %>
<% end %>
