<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :number_users, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :duration, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :price, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
